body {
  background: #f9e8a6;
}

h1,
p {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
}

.menu a {
  color: green;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
}
