body {
  display: block;
  max-width: 600px;
  background: #f9e8a6;
}

h1,
p {
  text-align: center;
}

.menu {
  color: green;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
}
